
li {
  list-style-type: none;
  width: 300px;
  margin: 0 auto;
  border: 1px solid gray;
}

.complete {
  text-decoration: line-through;
}

section {
  border: 1px solid gray;
  width: 100px;
  height: 100px;
}

.hidden {
  display: none;
}
